.loginPage {
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("leafs.JPG");
    padding:10px;
}

form {
    background-color: rgb(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 5);
    width: 100%;
    max-width: 800px;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 90%;
}

.login-link{
    padding-right: 5px;
}

.login-pair-btn {
    margin-left: 4px;
}

#login-error {
    margin-bottom: 15px;
    margin-top: 0;
    margin-left: 127px;
}