/* Register page design */

.registerPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("leafs.JPG");
    margin:0px;
}

form {
    margin: 30px;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 800px;
    white-space: nowrap;

}

.login-link {
    padding-left: 40px;
}

#reg-to-login {
    float: right;
    margin-top: 10px;
}

.alert-danger {
    margin-bottom: 0;
    margin-top: 10px;
    padding: 10px;
}

.small-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#formFile {
    padding-left: 12px;
}

#registration-btn{
    background-color: rgb(89, 133, 86);
    border-color: rgb(89, 133, 86);
}
